<!DOCTYPE html>
<html ng-app="demo.app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Two-armed bandit algorithms simulator</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/nvd3/css/nv.d3.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Two-armed bandit algorithms simulator</h1>
    </div>

    <div class="row" ng-controller="demo.controller">
        <script type="text/ng-template" id="calculating.html">
            <div class="modal-header">
                Calculating...
            </div>

            <div class="modal-body">
                <progressbar
                        class="progress-striped active"
                        value="model.progress.percentage"
                        animate="false">
                    {{ model.progress.value }} / {{ model.progress.totalValue }} ({{ model.progress.percentage }} %)
                </progressbar>
            </div>
        </script>

        <form name="parameters">
            <div class="col-lg-9">
                <h3>Simulation result</h3>

                <div>
                    <span>
                        <input type="radio" name="selectedChart" id="cumulativeRewardButton"
                               ng-model="model.result.selectedChart"
                               value="cumulativeReward"
                               checked/>&nbsp;
                        <label for="cumulativeRewardButton">Cumulative reward</label>
                    </span>

                    <span>
                        <input type="radio" name="selectedChart" id="averageRewardButton"
                               ng-model="model.result.selectedChart"
                               value="averageReward">&nbsp;
                        <label for="averageRewardButton">Average reward</label>
                    </span>
                </div>

                <div id="cumulativeReward" class="chart-area"
                     ng-show="model.result.canShowCumulativeReward()">
                    <svg></svg>
                </div>

                <div id="averageReward" class="chart-area"
                     ng-show="model.result.canShowAverageReward()">
                    <svg></svg>
                </div>
            </div>

            <div class="col-lg-3">
                <h3>Simulation parameters</h3>
                <hr/>

                <h4>Probabilities</h4>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Arm #1</span>
                    <input type="number" class="form-control" placeholder="between 0.0 and 1.0" step="0.01"
                           ng-model="model.simulator.arms[0].probability"
                           required
                           between="0,1"/>
                </div>
                <br/>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Arm #2</span>
                    <input type="number" class="form-control" placeholder="between 0.0 and 1.0" step="0.01"
                           ng-model="model.simulator.arms[1].probability"
                           required
                           between="0,1"/>
                </div>
                <br/>

                <h4>Number of iterations</h4>

                <div>
                    <input type="number" class="form-control" placeholder="> 0"
                           ng-model="model.simulator.numIterations"
                           required
                           greaterThanOrEqual="1"/>
                </div>
                <br/>

                <h3>Algorithm parameters</h3>
                <hr/>

                <h4>ε-Greedy</h4>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">ε</span>
                    <input type="number" class="form-control" placeholder="between 0.0 and 1.0" step="0.01"
                           ng-model="model.algorithms.epsilonGreedy.epsilon"
                           between="0,1"/>
                </div>

                <h4>Softmax</h4>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Temperature</span>
                    <input type="number" class="form-control" placeholder=">= 0.0016" step="0.001"
                           ng-model="model.algorithms.softmax.temperature"
                           greaterThanOrEqual="0.0016"/>
                </div>

                <br/>

                <div>
                    <input type="button" class="btn btn-primary" value="Simulate" ng-click="simulate()"
                           ng-disabled="parameters.$invalid"/>
                </div>
            </div>
        </form>
    </div>
    <a href="https://github.com/komiya-atsushi/bandit-simulator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</div>
</body>

<script src="vendor/jquery/js/jquery.min.js"></script>
<script src="vendor/angular/js/angular.min.js"></script>
<script src="vendor/angular-bootstrap/js/ui-bootstrap.min.js"></script>
<script src="vendor/angular-bootstrap/js/ui-bootstrap-tpls.min.js"></script>
<script src="vendor/d3/js/d3.min.js"></script>
<script src="vendor/nvd3/js/nv.d3.min.js"></script>

<script src="scripts/bandit.js"></script>
<script src="scripts/module.simulator.js"></script>

<script src="scripts/module.main.js"></script>
<script src="scripts/module.renderer.js"></script>
</html>
